<ion-content class="has-header">
      <!-- Lista contenedora -->
      <div class="list">
        <!-- Luminaria Actual-->
        <div class="item item-divider item-dark">Luminaria actual</div>
            
            <label class="item item-input item-stacked-label">
            <span class="input-label">Número de bombillas</span>
            <input type="tel" placeholder="Ingrese un valor">
            </label>
       
            <label class="item item-input item-stacked-label">
            <span class="input-label">Precio unitario</span>
            <input type="number" placeholder="Precio de cada bombilla">
            </label>

            <label class="item item-input item-stacked-label">
            <span class="input-label">Potencia</span>
            <input type="tel" placeholder="Watts">
            </label>

            <label class="item item-input item-stacked-label">
            <span class="input-label">Horas de uso al dia</span>
            <input type="tel" placeholder="Cantidad de hrs al día">
            </label>

            <label class="item item-input item-stacked-label">
               <span class="input-label">Días al mes</span>
               <input type="tel" placeholder="Cantidad de días al mes">
            </label>

            <label class="item item-input item-stacked-label">
               <span class="input-label">Costo energetico por kWh</span>
               <input type="number" placeholder="kWh">
            </label>
        <!-- Luminaria Nueva-->
        <div class="item item-divider item-dark">Luminaria nueva</div>
             
            <label class="item item-input item-stacked-label">
              <span class="input-label">Número de bombillas a reemplazar</span>
              <input type="tel" placeholder="Ingrese un valor">
            </label>

            <label class="item item-input item-stacked-label">
              <span class="input-label">Precio unitario</span>
              <input type="number" placeholder="Precio de cada bombilla LED">
            </label>

            <label class="item item-input item-stacked-label">
              <span class="input-label">Potencia</span>
              <input type="tel" placeholder="Watts">
            </label>

            <div class="button-bar">
              <a class="button button-positive">Calcular</a>
              <a class="button button-dark">Limpiar campos</a>
            </div>
        </div>
</ion-content>
